{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Page Header-->
        <header class="masthead" style="background-image: {% static 'assets/img/home-bg.jpg' %}">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Blog do blog</h1>
                            <span class="subheading">Um blog da Carioca Jr</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">

                    {% for post in posts %}
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="/posts/{{ post.pk }}">
                            <h2 class="post-title">{{ post.title }}</h2>
                        </a>
                        <h3 class="post-subtitle">{{ post.summary|safe }}</h3>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">{{ post.author }}</a>
                            {{ post.created_at }}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}

                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Mais Posts →</a></div>
                </div>
            </div>
        </div>
{% endblock %}
